---
import SectionTitle from "./ui/SectionTitle.astro";
// data
import { speakers } from "../../data/people";
---

<section id="speakers">
  <div class="sectiondiv">
    <SectionTitle title="Speakers 💬" />
    <div
      class="grid items-center justify-center justify-items-center gap-5 lg:w-11/12 lg:grid-cols-2"
    >
      {
        speakers.map((dude) => {
          return (
            <div class="h-full w-full rounded-3xl bg-gray-900/80 p-4">
              <div class="flex h-full flex-col items-center justify-center sm:flex-row">
                <img
                  alt="team"
                  class="mb-4 h-44 w-40 flex-shrink-0 rounded-xl object-cover object-center brightness-105 sm:mb-0"
                  src={dude.image}
                />
                <div class="flex-grow text-center sm:ml-6 sm:text-left">
                  <h2 class="mb-3 text-xl lg:text-2xl">{dude.name}</h2>
                  {dude.workshops.map((stuff) => {
                    return (
                      <p class="font-sans font-medium">
                        {stuff.first} <br /> {stuff.second} <br /> {stuff.third}
                      </p>
                    );
                  })}
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
