---
import Icon from "astro-icon";

interface Props {
  name: string;
  x: string | null;
  github: string | null;
  instagram: string | null;
  linkedin: string | null;
  youtube: string | null;
  itch: string | null;
  medium: string | null;
  behance: string | null;
  website: string | null;
}

const {
  name,
  x,
  github,
  instagram,
  linkedin,
  youtube,
  itch,
  medium,
  behance,
  website,
} = Astro.props;
---

{
  github ||
  x ||
  instagram ||
  linkedin ||
  youtube ||
  itch ||
  medium ||
  website ? (
    <div class="flex w-full justify-center gap-x-3 p-1 sm:justify-start">
      {x && (
        <a
          href={x}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s X Account`}
        >
          <Icon name="x" />
        </a>
      )}
      {github && (
        <a
          href={github}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s GitHub Profile`}
        >
          <Icon name="github" />
        </a>
      )}
      {instagram && (
        <a
          href={instagram}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s Instagram Account`}
        >
          <Icon name="instagram" class="text-dark-pink h-5 w-5" />
        </a>
      )}
      {linkedin && (
        <a
          href={linkedin}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s LinkedIn Profile`}
        >
          <Icon name="linkedin" />
        </a>
      )}
      {youtube && (
        <a
          href={youtube}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s Youtube Profile`}
        >
          <Icon name="youtube" />
        </a>
      )}
      {itch && (
        <a
          href={itch}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s Itch Profile`}
        >
          <Icon name="itch" />
        </a>
      )}
      {medium && (
        <a
          href={medium}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s Medium Profile`}
        >
          <Icon name="medium" />
        </a>
      )}
      {behance && (
        <a
          href={behance}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s Behance Profile`}
        >
          <Icon name="behance" />
        </a>
      )}
      {website && (
        <a
          href={website}
          target="_blank"
          rel="noreferrer"
          aria-label={`${name}'s personal website`}
        >
          <Icon name="globe" />
        </a>
      )}
    </div>
  ) : null
}

<style>
  svg {
    @apply h-6 w-6 transition duration-300 ease-in-out hover:scale-110;
  }
</style>
